{% extends 'base.html.twig' %}

{% block title %}FestiLab Accueil{% endblock %}

{% block body %}
<section class="bg-primary-custom">
  {# div container carousel #}
  <div class="container bg-light-custom py-5 d-flex justify-content-center">
    <div id="carouselExampleIndicators" class="carousel slide w-75" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner ">
        <div class="carousel-item active">
          <img src="{{ asset('img/maxresdefault.jpg')}}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{{ asset('img/maxresdefault (1).jpg')}}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{{ asset('img/maxresdefault (2).jpg')}}" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

<section style="height: 20vh;" class="bg-dark-custom">
</section>

<section class="bg-light-custom">
  <div class="container bg-third-custom py-5 d-flex justify-content-center">
    <div class="row">
      {% for news in news %}
      <div class="col-md-6 col-sm-12 mb-4 cardArticle">
        <a href="{{ path('news_show', {'id': news.id}) }}">
          <div class="bloc-img card mb-4 shadow-sm">
            <div class="bloc-img">
              <img src="{{asset('uploads/news_pictures/')}}{{news.picture}}" class="image-zoom card-img-top w-100"
                alt="...">
            </div>
            <div class="card-body overflow-hidden justify-content-center">
              <h5 class="card-title">{{news.name}}<br /></h5>
              <h6 class="DatearticleHome">{{ news.createdAt ? news.createdAt|date('Y-m-d à H:i') : '' }}</h6>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}