{% extends 'base.html.twig' %}

{% block title %}FestiLab Accueil{% endblock %}

{% block body %}
<section class="bg-primary-custom">
  {# div container carousel #}
  <div class="container bg-light-custom py-5 d-flex justify-content-center">
    <div id="carouselExampleIndicators" class="carousel slide w-75" data-bs-ride="carousel">
      <div class="carousel-inner">
        {% for news in newsFilter %}
        {% if loop.first %}
        <div class="carousel-item active"  data-bs-interval="4000" >
          <img src="{{asset('uploads/news_pictures/')}}{{news.picture}}" class="d-block w-100" alt="...">
        </div>
        {% endif %}
        <div class="carousel-item" data-bs-interval="4000">
          <img src="{{asset('uploads/news_pictures/')}}{{news.picture}}" class="d-block w-100" alt="...">
        </div>
        {% endfor %}
      </div>
    </div>
  </div>




</section>

<section style="height: 20vh;" class="bg-dark-custom">
</section>

<section class="bg-light-custom">
  <div class="container bg-third-custom py-5 d-flex justify-content-center">
    <div class="row d-flex justify-content-center">
      {% for news in news %}
      <div class="col-md-5 col-sm-12 mb-4 cardArticle">
        <a href="{{ path('news_show', {'id': news.id}) }}">
          <div class="bloc-img card mb-4 shadow-sm">
            <div class="bloc-img">
              <img src="{{asset('uploads/news_pictures/')}}{{news.picture}}" class="image-zoom card-img-top w-100"
                alt="...">
            </div>
            <div class="card-body overflow-hidden justify-content-center" style="min-height: 6rem;">
              <h5 class="card-title">{{news.name}}<br /></h5>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>



{% endblock %}