{% extends 'base.html.twig' %}

{% block title %}Publics index{% endblock %}

{% block body %}
    <h1>Publics index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Types</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for public in publics %}
            <tr>
                <td>{{ public.id }}</td>
                <td>{{ public.types }}</td>
                <td>
                    <a href="{{ path('publics_show', {'id': public.id}) }}">show</a>
                    <a href="{{ path('publics_edit', {'id': public.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('publics_new') }}">Create new</a>
{% endblock %}
