{% extends 'baseAdmin.html.twig' %}

{% block title %}Public{% endblock %}

{% block body %}
    <h1>Public</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ public.id }}</td>
            </tr>
            <tr>
                <th>Types</th>
                <td>{{ public.types }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('publics_index') }}"><i class="me-3 fas fa-undo-alt"></i></a>

    <a href="{{ path('publics_edit', {'id': public.id}) }}"><i class="far fa-edit"></i></a>

    {{ include('publics/_delete_form.html.twig') }}
{% endblock %}
