{% extends 'baseAdmin.html.twig' %}

{% block title %}Bienvenu sur l'administation {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-3 p-3">
            <h5 class="text-center">Liste des artistes</h5>
            <a class="table-responsive" title="Cliquer ici pour vous la liste complète" href="{{ path('artists_index') }}">
                <table class="table table-sm">
                    <tbody>
                        {% for artist in artists_filter %}
                            <tr>
                                <td><img class="img-miniature rounded-circle shadow" src="{{ asset('uploads/artists_pictures/'~artist.picture) }}" alt=""></td>
                                <td>{{artist.name}}</td>
                            </tr>
                        {% endfor %}
                      </tr>
                    </tbody>
                </table>
            </a>
        </div>
        <div class="col-lg-4">
            <h5 class="text-center">Liste des artistes</h5>
            <a class="table-responsive" title="Cliquer ici pour vous la liste complète" href="{{ path('artists_index') }}">
                <table class="table table-sm">
                    <tbody>
                        {% for artist in artists_filter %}
                            <tr>
                                <td><img class="img-miniature rounded-circle shadow" src="{{ asset('uploads/artists_pictures/'~artist.picture) }}" alt=""></td>
                                <td>{{artist.name}}</td>
                            </tr>
                        {% endfor %}
                      </tr>
                    </tbody>
                </table>
            </a>
        </div>
    </div>
{% endblock %}
