{% if is_granted("ROLE_EDITOR") %}
{% set base = 'baseAdmin.html.twig' %}
{% else %}
{% set base = 'base.html.twig' %}
{% endif %}
{% extends base %}

{% block title %}News{% endblock %}

{% block body %}
<section class="container">
    <h1>Articles</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom</th>
                <th>Description</th>
                {# <th>Images</th> #}
                {# <th>CreatedAt</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for news in news %}
            <tr>
                {# <td>{{ news.id }}</td> #}
                <td>{{ news.Name }}</td>
                <td>{{ news.description|raw}}</td>
                {# <td>{{ news.picture }}</td> #}
                {# <td>{{ news.createdAt ? news.createdAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a href="{{ path('news_show', {'id': news.id}) }}"><i class="me-3 far fa-eye"></i></a>
                    <a href="{{ path('news_edit', {'id': news.id}) }}"><i class="far fa-edit"></i></a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('news_new') }}"><i class="far fa-plus-square"></i></a>
</section>

{% endblock %}