{% if is_granted("ROLE_EDITOR") %}
    {% set base = 'baseAdmin.html.twig' %}
{% else %}
    {% set base = 'base.html.twig' %}
{% endif %}
{% extends base %}

{% block title %}
News
{% endblock %}

{% block body %}
	<h1>News</h1>
{% if is_granted("ROLE_EDITOR") %}
	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ news.id }}</td>
			</tr>
			<tr>
				<th>Image</th>
				<td>
                 <img class="img-miniature2" src="{{ asset('uploads/news_pictures/' ~ news.picture) }}">
                </td>
			</tr>
            <tr>
				<th>Nom de l'image</th>
				<td>
                {{ news.picture }}
                </td>
			</tr>
			<tr>
				<th>Titre</th>
				<td>{{ news.Name }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ news.description|raw }}</td>
			</tr>
			<tr>
				<th>Festival</th>
				<td>{{ news.festival.title }}</td>
			</tr>
			<tr>
				<th>Date de création</th>
				<td>{{ news.createdAt ? news.createdAt|date('Y-m-d H:i:s') : ''  }}</td>
			</tr>
		
		</tbody>
	</table>
	<a href="{{ path('news_index') }}"><i class="me-3 fas fa-undo-alt"></i></a>
	<a href="{{ path('news_edit', {'id': news.id}) }}"><i class="far fa-edit"></i></a>
	{{ include('news/_delete_form.html.twig') }}
{% else %}
    <section class="bg-primary-custom">

    <div class="container bg-light-custom py-5 d-flex justify-content-center">

        <div class="container p-5 BGarticle">
            <img class="img-fluid align-items mb-5" src="{{ asset('uploads/news_pictures/' ~ news.picture) }}"
                width="500"></td>
            <h1 class="">
                {{ news.name }}
            </h1>
            {{ news.description|raw }}</br>
            Mise à jour le {{ news.createdAt ? news.createdAt|date('d-m-Y à H:i') : '' }}<br />
        </div>

    </div>

</section>
{% endif %}
{% endblock %}