{{ form_start(form) }}

<div class="row">
    <div class="col-lg-4">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nom</span>
			{{ form_widget(form.name) }}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Image</span>
			{{ form_widget(form.picture) }}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Réseau</span>
			{{ form_widget(form.websiteLink) }}
        </div>
    </div>
</div>

<div class="row">
	<div class="col-lg-2">
		<a href="{{ path('patners_index') }}"><i class="me-3 fas fa-undo-alt"></i></a>
		<button class="btn">{{ button_label|default('Sauvegarder') }}</button>
	</div>
</div>

{{ form_end(form) }}