{% extends 'baseAdmin.html.twig' %}

{% block title %}Partenaires{% endblock %}

{% block body %}
    <h1>Partenaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Picture</th>
                <th>WebsiteLink</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patner in patners %}
            <tr>
                <td>{{ patner.name }}</td>
                <td><img class="img-min" src="{{ asset('uploads/partners_pictures/'~patner.picture) }}" alt="{{ patner.picture }}"></td>
                <td>{{ patner.websiteLink }}</td>
                <td>
                    <a href="{{ path('patners_show', {'id': patner.id}) }}"><i class="me-3 far fa-eye"></i></a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('patners_edit', {'id': patner.id}) }}"><i class="far fa-edit"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('patners_new') }}"><i class="far fa-plus-square"></i></a>
{% endblock %}
