{% extends 'base.html.twig' %}

{% block title %}Patners index{% endblock %}

{% block body %}
    <h1>Patners index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Picture</th>
                <th>WebsiteLink</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patner in patners %}
            <tr>
                <td>{{ patner.id }}</td>
                <td>{{ patner.name }}</td>
                <td><img class="img-miniature" src="{{ asset('uploads/artists_pictures/'~patner.picture) }}" alt="{{ patner.picture }}">{{ patner.picture }}</td>
                <td>{{ patner.websiteLink }}</td>
                <td>
                    <a href="{{ path('patners_show', {'id': patner.id}) }}">show</a>
                    <a href="{{ path('patners_edit', {'id': patner.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('patners_new') }}">Create new</a>
{% endblock %}
