{% extends 'baseAdmin.html.twig' %}

{% block title %}Partenaire{% endblock %}

{% block body %}
<h1>Partenaire</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ patner.name }}</td>
        </tr>
        <tr>
            <th>Picture</th>
            <td><img class="w-75" src="{{ asset('uploads/artists_pictures/'~patner.picture) }}"
                    alt="{{ patner.picture }}"></td>
        </tr>
        <tr>
            <th>WebsiteLink</th>
            <td>{{ patner.websiteLink }}</td>
        </tr>
    </tbody>
</table>
{% if is_granted('ROLE_EDITOR') %}
<a href="{{ path('patners_index') }}"><i class="me-3 fas fa-undo-alt"></i></a>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('patners_edit', {'id': patner.id}) }}"><i class="far fa-edit"></i></a>

{{ include('patners/_delete_form.html.twig') }}
{% endif %}
{% endblock %}