{{ form_start(form) }}
    {{ form_widget(form) }}
    {# Si la route est "annonces_edit on affiche les images #}
	{% if app.request.attributes.get('_route') == 'festivals_edit' %}
    <h2>Images actuel</h2>
    {% for image in festival.Pictures %}
        <div>
            <img src="{{ asset('/uploads/festivals_pictures/'~festival.Title~'/'~image.name) }}" alt="" width="150">

        </div>
    {% endfor %}
{% endif %}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
