{% extends 'base.html.twig' %}

{% block title %}Festivals index{% endblock %}

{% block body %}
    <h1>Festivals index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Duration</th>
                <th>WebsiteLink</th>
                <th>TicketOfficeLink</th>
                <th>SocialLink</th>
                <th>Tdg</th>
                <th>DateStart</th>
                <th>DateEnd</th>
                <th>CreatedAt</th>
                <th>ModifiedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for festival in festivals %}
            <tr>
                <td>{{ festival.id }}</td>
                <td>{{ festival.title }}</td>
                <td>{{ festival.description|raw }}</td>
                <td>{{ festival.price }}</td>
                <td>{{ festival.duration }}</td>
                <td>{{ festival.websiteLink }}</td>
                <td>{{ festival.ticketOfficeLink }}</td>
                <td>{{ festival.socialLink }}</td>
                <td>{{ festival.tdg ? 'Yes' : 'No' }}</td>
                <td>{{ festival.dateStart ? festival.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ festival.dateEnd ? festival.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ festival.createdAt ? festival.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ festival.modifiedAt ? festival.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('festivals_show', {'id': festival.id}) }}">show</a>
                    <a href="{{ path('festivals_edit', {'id': festival.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('festivals_new') }}">Create new</a>
{% endblock %}
