{% if is_granted("ROLE_EDITOR") %}
	{% set base = 'baseAdmin.html.twig' %}
{% else %}
	{% set base = 'base.html.twig' %}
{% endif %}
{% extends base %}

{% block title %}
	Festival
{% endblock %}

{% block body %}
	
	{% if is_granted("ROLE_EDITOR") %}
    <h1>Festival</h1>
		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ festival.id }}</td>
				</tr>
				<tr>
					<th>Titre</th>
					<td>{{ festival.title }}</td>
				</tr>
				<tr>
					<th>Image</th>
					<td>
						{% if festival.pictures is not empty %}
							<div class="row align-items-start">
								{% for picture in festival.pictures %}
									<div class="col-lg-4">
										<img class="w-50" src="{{ asset('uploads/festivals_pictures/'~festival.title~'/'~picture.name) }}" alt="">
									</div>
								{% endfor %}
							</div>
						
						{% endif %}
					</td>
				</tr>

				<tr>
					<th>Nom de l'image</th>
					<td>
						{% if festival.pictures is not empty %}
							<div class="row align-items-start">
								{% for picture in festival.pictures %}
									{{ picture.name}}
								{% endfor %}
							</div>
							
						{% endif %}
					</td>

				</tr>

				<tr>
					<th>Description de l'image</th>
					<td>
						{% if festival.pictures is not empty %}
							<div class="row align-items-start">
								{% for picture in festival.pictures %}
									{{ picture.description}}
								{% endfor %}
							</div>
							
						{% endif %}
					</td>
				</tr>

				<tr>
					<th>Description</th>
					<td>{{ festival.description|raw }}</td>
				</tr>
				<tr>
					<th>Prix</th>
					<td>{{ festival.price }}</td>
				</tr>
				<tr>
					<th>Durée</th>
					<td>{{ festival.duration }}</td>
				</tr>
				<tr>
					<th>Lien site internet</th>
					<td>{{ festival.websiteLink }}</td>
				</tr>
				<tr>
					<th>Lien billeterie</th>
					<td>{{ festival.ticketOfficeLink }}</td>
				</tr>
				<tr>
					<th>Lien réseaux sociaux</th>
					<td>{{ festival.socialLink }}</td>
				</tr>
				<tr>
					<th>Tête de gondole</th>
					<td>{{ festival.tdg ? 'Yes' : 'No' }}</td>
				</tr>
				<tr>
					<th>Date début</th>
					<td>{{ festival.dateStart ? festival.dateStart|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>Date de fin</th>
					<td>{{ festival.dateEnd ? festival.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>Date création d'article</th>
					<td>{{ festival.createdAt ? festival.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>Date modification d'article</th>
					<td>{{ festival.modifiedAt ? festival.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
			</tbody>
		</table>

		<a href="{{ path('festivals_index') }}">
			<i class="me-3 fas fa-undo-alt"></i>
		</a>

		<a href="{{ path('festivals_edit', {'id': festival.id}) }}">
			<i class="far fa-edit"></i>
		</a>

		{{ include('festivals/_delete_form.html.twig') }}
		{% else %}
	{% endif %}
<section class="bg-primary-custom">

    <div class="container bg-light-custom py-5 d-flex justify-content-center">

        <div class="container p-5 BGarticle">

            <h1 class="text-center">
                {{ festival.title }}
            </h1>
            {% if festival.pictures is not empty %}
                        <div class="row align-items-center">
                            {% for picture in festival.pictures %}
                                <div class="col-lg-12">
                                    <img class="w-300 align-items-center" src="{{ asset('uploads/festivals_pictures/'~festival.title~'/'~picture.name) }}" alt="">
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
            <div class="row py-3">
                <div class="col-md-6">
                    Durée : {{ festival.duration }} du {{ festival.dateStart ? festival.dateStart|date('d-m-Y') : '' }} au {{ festival.dateEnd ? festival.dateEnd|date('d-m-Y') : '' }}
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    Prix : {{ festival.price }}
                </div>
            </div>
            {{ festival.description|raw }}</br>


            Billeterie : <a href="{{ festival.ticketOfficeLink }}">{{ festival.ticketOfficeLink }}</a></br>
            Site web :<a href="{{ festival.websiteLink }}"> {{ festival.title }}</a></br>

            Mise à jour le {{ festival.createdAt ? festival.createdAt|date('d-m-Y à H:i') : '' }}<br />
        </div>

    </div>

</section>
{% endblock %}
