<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		{% block title %}Welcome!
		{% endblock %}
	</title>
	{# Start link css files #}
	<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ asset('css/appAdmin.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
		rel="stylesheet">{# End link css files #}
	{# Start link js files #}
	<script src="https://kit.fontawesome.com/cb109f8570.js" crossorigin="anonymous"> </script>
	<script src="{{ asset('public\js\bootstrap.bundle.min.js') }}"></script>

	<script src="{{ asset('public\js\app.js') }}"></script>
	{# End link js files #}
</head>

<body>
	<header>
		<nav class="navbar shadow navbar-expand-lg navbar-dark bg-dark-custom">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{ path('home') }}"><img class="w-25 img-fluid"
						src="{{ asset('img/Festilab.png')}}" alt="FestiLab"></a>
				

				<ul class="navbar-nav justify-content-end mb-2 mb-lg-0">
					<p class="text-light pseudo">Bienvenue {{ app.user.pseudo }}</p>
					<li class="nav-item">
						<a class="nav-link navbarText" aria-current="page" href="{{ path('home') }}">
							<i class="fas fa-home"></i>
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link navbarText" aria-current="page" href="{{ path('app_logout') }}">
							<i class="fas fa-sign-out-alt"></i>
						</a>
					</li>
				</ul>

			</div>
		</nav>
	</header>
	<section class="d-flex flex-row">
		{% if app.user %}
		<nav class="nav shadow gche flex-column bg-third-custom">
			<a class="nav-link navbarAd" href="{{ path('dashboad') }}">Dashboard</a>
			<a class="nav-link navbarAd" href="{{ path('festivals_index') }}">Festival</a>
			<a class="nav-link navbarAd" href="{{ path('artists_index') }}">Artiste</a>
			<a class="nav-link navbarAd" href="{{ path('places_index') }}">Lieu</a>
			{% if is_granted("ROLE_ADMIN") %}
			<a class="nav-link navbarAd" href="{{ path('cities_index') }}">Ville</a>
			<a class="nav-link navbarAd" href="{{ path('departments_index') }}">Département</a>
			{% endif %}
			<a class="nav-link navbarAd" href="{{ path('kinds_index') }}">Genres</a>
			{% if is_granted("ROLE_ADMIN") %}
			<a class="nav-link navbarAd" href="{{ path('publics_index') }}">Publique</a>
			{% endif %}
			<a class="nav-link navbarAd" href="{{ path('news_index') }}">Actualités</a>
			<a class="nav-link navbarAd" href="{{ path('patners_index') }}">Partenaires</a>
			{% if is_granted("ROLE_ADMIN") %}
			<a class="nav-link navbarAd" href="{{ path('user_index') }}">Utilisateur</a>
			<a class="nav-link navbarAd" href="{{ path('contact_us_index') }}">Contact</a>
			{% endif %}
		</nav>
		{% endif %}
		<article class="container">
			<div class="bg-light-custom card1">
				{% block body %}{% endblock %}
			</div>
		</article>
	</section>
	<footer class="fixed-bottom mt-5 bg-dark-custom">
		<p class="copyright">Copyright© 2021 Arinfo Travail d'équipe Tous droits réservés -
			<a href="#">Plan du site</a>
			-
			<a href="#">Mentions légales</a>
		</p>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"></script>
	</footer>
</body>

</html>